@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --white: hsl(0, 0%, 100%);

    --slate-300: hsl(212, 45%, 89%);

    --slate-500: hsl(216, 15%, 48%);

    --slate-900: hsl(218, 44%, 22%);
}

body {
    background-color: var(--slate-300);
    align-content: center;
    text-align: center;
    font-family: "Outfit", sans-serif;
}


.card {
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
}

.qr {
    border-radius: 20px;
    margin: 16px;
}

.text {
    margin: 40px;
}

.dark {
    margin: 24px;
    color: var(--slate-900);
    font-size: 22px;
    font-weight: 700;
}

.light {
    margin: 24px;
    color: var(--slate-500);
    font-size: 15px;
    font-weight: 400;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}