@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --white: hsl(0, 0%, 100%);

    --slate-300: hsl(212, 45%, 89%);

    --slate-500: hsl(216, 15%, 48%);

    --slate-900: hsl(218, 44%, 22%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

body {
    height: 100%;
    background-color: var(--slate-300);
    font-family: "Outfit", sans-serif; 
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}


.card {
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    padding: 16px 16px 40px 16px;
    background-color: white;
}

.qr {
    border-radius: 20px;
    margin-bottom: 24px;
    width: 288px;
    height: 288px;
}

.text {
    padding: 0px 16px 0px 16px;
    max-width: 288px;
}

.dark {
    color: var(--slate-900);
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 16px;
}

.light {
    color: var(--slate-500);
    font-size: 15px;
    font-weight: 400;
}

footer {
    padding: 20px;
    margin-top: auto;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}